.button {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: inherit;
  color: #fff;
  background-color: transparent;
}
