.button {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: inherit;
  font-size: calc(10px + 2vmin);
}
